In [1]:
import pandas as pd

df1 = pd.DataFrame(dict(
    time = [1,2,3],
    val1 = [2,2,2],
))
df1

   time  val1
0     1     2
1     2     2
2     3     2

In [2]:
df2 = pd.DataFrame(dict(
    time = [1,3,4],
    val2 = [3,3,3],
))
df2

   time  val2
0     1     3
1     3     3
2     4     3

In [6]:
df1.merge(df2, how = "outer", on = "time")

   time  val1  val2
0     1   2.0   3.0
1     2   2.0   NaN
2     3   2.0   3.0
3     4   NaN   3.0